/* Same initial styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2F4858;
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.section:nth-child(1){
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/map.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section:nth-child(2){
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/aream.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section:nth-child(3){
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/photo-1473968512647-3e447244af8f.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section:nth-child(4){
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/disease.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section:nth-child(5){
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/med.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section:nth-child(6){
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/maturity.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section:nth-child(7){
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/spray.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section:nth-child(8){
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/flight.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section:nth-child(9){
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/surveilance.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



header {
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
}

.hamburger-menu img {
    width: 30px;
    cursor: pointer;

}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #24677A;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #ffffff;
    cursor: pointer;
}

.sidebar .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.sidebar .close-btn img {
    width: 20px;
}

.scroll-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 100vh;
    width: 100vw;
}

/* Section Styles */
.section {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    position: relative;
}

.card {
    background: #24677A;
    border: 1px solid #008894;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.card h3 {
    margin: 0;
    color: #72EA9F;
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute;
    top: 20px;
    left: 20px;
}

.card p {
    font-size: 0.9rem;
    color: #d4f3ef;
    margin-top: 50px;
    text-align: center;
    flex-grow: 1;
}

.card button {
    background-color: #30CAA6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    align-self: center;
    transition: background-color 0.3s;
    margin-top:40px;
}

.card button:hover {
    background-color: #00A9A3;
}

@media (max-width: 768px) {
    header {
        font-size: 1.2rem;
    }

    .section {
        grid-template-columns: repeat(2, 1fr);
    }

    .card h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    .card p {
        font-size: 1.2rem;
    }

    .card button {
        font-size: 0.9rem;
    }
}